html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.login-container {
    background: rgba(173, 216, 230, 0.1);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 0 auto; /* ???????? */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* ???¡À???? */
    text-align: center;
}

    .login-container h2 {
        color: #333;
        margin-bottom: 15px;
        margin-top: 0px;
    }

.form-group {
    margin-bottom: 15px;
}

    .form-group input {
        width: 100%;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 20px;
    }

.btn {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 3px
}

    .btn:hover {
        background-color: #0056b3;
    }

.text-center {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 3px
}