@page
@model IndexModel
@{
    ViewData["Title"] = "主页";
    Layout = "/Pages/Shared/_Layout.cshtml"; // 指定布局文件的路径
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
